<h1>My Datasheet</h1>
<div class="row">
    {{#each result}}
      <div class="col-12">
         <div>{{product_sku}}</div> 
         <div>{{product_name}}</div> 
         <div>{{{truncate short_description 1400}}}</div>
           
      </div> 

      <div class="benefits">
            <span class="benefits-header">Benefits</span><br>
            <table>

           {{#each custom_fields}}
             {{value}}

           {{/each}}

            </table>
         </div>
         <div class="features">
            <span class="features-header">Features</span><br>
            <table>
              {{datasheet_features}}
            </table>
         </div>
         <div class="tech-specs-header">
         <p>
            Technical Specifications
            <br>
            <span class="underline"></span>
         </p>
      </div>


    {{else}}
      <p>No Datasheet Found</p>

    {{/each}}
    
</div>